Source: ros-lyrical-point-cloud-transport-py
Section: misc
Priority: optional
Maintainer: "Alejandro Hernández" <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), pybind11-dev, python3-dev, ros-lyrical-ament-cmake-python, ros-lyrical-ament-cmake-ros, ros-lyrical-pluginlib, ros-lyrical-point-cloud-transport, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/point_cloud_transport_py/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-point-cloud-transport-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pybind11-dev, ros-lyrical-pluginlib, ros-lyrical-point-cloud-transport, ros-lyrical-rclcpp, ros-lyrical-rpyutils, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Description: Python API for point_cloud_transport
