Source: ros-humble-point-cloud-transport-py
Section: misc
Priority: optional
Maintainer: Alejandro Hernández <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-python, ros-humble-ament-cmake-ros, ros-humble-pluginlib, ros-humble-point-cloud-transport, ros-humble-pybind11-vendor, ros-humble-python-cmake-module, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-point-cloud-transport-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-pluginlib, ros-humble-point-cloud-transport, ros-humble-pybind11-vendor, ros-humble-rclcpp, ros-humble-rpyutils, ros-humble-sensor-msgs, ros-humble-ros-workspace
Description: Python API for point_cloud_transport
